*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    grid-template-columns: 2fr 1fr;
    display: flex;
    flex-direction: column;
    background-color: #F9E2DC;
}

#header{
    grid-area: header;
    background-color: #FFA993;

    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > p{
    font-family: 'Courgette', cursive;
    font-size: 5vh;
    color: white;
    padding-left: 3vh;
}

#header > p > a{
    text-decoration: none;
    color: white;
}

#menu > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#menu > ul > li > a{
    display: flex;
    justify-content: space-between;
    padding-right: 4vh;
    padding-left: 3vh;
    text-decoration: none;
    color: white;
}

#menu > ul > li > a > p{
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vh;
}

#menu > ul > li > a:hover > p{
    color: #885C5C;
    font-size: 2.7vh;
}

#icerikMetin > #buyukYazi{
    display: flex;
    justify-content: center;
    margin-top: 3vh;

    font-family: 'Courgette', cursive;
    font-size: 8vh;
    color: #885C5C;
}

#icerikMetin > #kucukYazi{
    display: flex;
    justify-content: center;
    margin: 3vh 10vh 5vh 10vh;

    font-family: 'Anonymous Pro', monospace;
    font-size: 2.5vh;
    font-weight: bold;
    font-style: italic;
    color: #885C5C;
}

#oyunKart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7vh;
}

#recelAilesi{
    width: 30vh;
    height: 60vh;
    background-color: #FA8787;
}

#isimsizOyun{
    width: 90vh;
    height: 80vh;
    background-color: #102D0B;
}

#dosyaNo34{
    width: 30vh;
    height: 60vh;
    background-color: #0096BF;
}

#footer{
    grid-area: footer;
    background-color: #FFA993;

    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > p{
    font-family: 'Anonymous Pro', monospace;
    font-size: 2vh;
    color: #885C5C;
}
